*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
p{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: antiquewhite;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.5em;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: black;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(monos_pop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero{
    color: white;
}

#Explicacion{
    background-color: antiquewhite;
}

#Explicacion .container{
    text-align: center;
    padding: 200px 12px;
}


@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }


    #Explicacion .container{
        display: flex;
        justify-content: center;
    }

    #Explicacion .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        
    }

    #Explicacion .image-container{
        background-image: url(lucy.jpg);
        background-size: 700px 500px;
        background-position: center center;
        height: 500px;
        width: 400px;
    }





}

